@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --bg: #15161b;
    --bg2: #2c2f37;
    --texto: #ffffff;
    --botoes: #1a7993;
}

body{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    padding: 0; margin: 0;
    background-color: var(--bg);
    color: var(--texto);
}

header{
    display: flex;
    justify-content: center;
}

#logo h2{
    font-size: 30px;
}

#logo span{
    color: var(--botoes);
}

#section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}

#area-title{
    width: 40vw;
}

#area-title h3{
    font-weight: normal;
    font-size: 20px;
}

#area-title h1{
    font-weight: normal;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: -16px;
}

#area-title a{
    display: inline-block;
    background-color: var(--botoes);
    border: 2px solid var(--botoes);
    color: var(--texto);
    text-decoration: none;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}

#area-title a:hover{
    border: 2px solid var(--botoes);
    background-color: var(--bg1);
    color: #1a7993;
    transition: all .2s;
}


#image-1 img{
    width: 40vw;
    height: auto;
}


/* SECTION 3 */

#section-3{
    background-color: var(--botoes);
    height: 70vh;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#area-title-2{
    width: 40vw;
}

#area-title-2 h1{
    font-size: 35px;
    width: 30vw;
}

#area-title-2 h3{
    font-size: 20px;
    font-weight: normal;
}

#area-title-2 a{
    display: inline-block;
    background-color: var(--texto);
    padding: 15px 60px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: var(--botoes);
    cursor: pointer;
}

#image-2 img{
    width: auto;
    height: 70vh;
    position: relative;
    top: 3px;
}

/* ARIA-FORM */

#aria-form{
    position: relative;
    top: 350px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aria-form h2{
    text-align: center;
}

#form form{
    display: flex;
    flex-direction: column;
    height: 200px;
}

#form input{
    margin: auto;
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
    
}

input::placeholder{
    color: var(--bg);
    text-transform: uppercase;
    font-weight: 500;
}

input[type="submit"]{
    background-color: var(--botoes);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    color: var(--texto);
    height: 50px;
}

input[type="submit"]:hover{
    background-color: var(--texto);
    color: #1a7993;
    transition: all .2s;
}

footer{
    background-color: var(--bg2);
    display: grid;
    place-items: center;
    position: relative;
    top: 350px;
    width: auto;
    height: 40vh;
}

#social h3{
    text-transform: uppercase;
    font-weight: normal;
}

#social img{
    width: 30px;
    display: inline-flex;
    place-items: center;
    margin-left: 15px;
    cursor: pointer;
}












